@import "~@/styles/index.styl"
.login {
  position: fixed
  left: 0
  top: 0
  bottom: 0
  right: 0
  background-color: _light-color
  background-image: linear-gradient(to bottom right, _light-color, _blue-color, _orange-color, _mangetna-color)
  transition: background-image 1s ease
  animation: bgi 5s linear 2s infinite alternate
  _center()
  .content {
    width: 360px
    .ant-input-affix-wrapper {
      border-radius: 5px
      height: 40px
      overflow: hidden
      .anticon {
        font-size: 16px
        color: #fff
      }
    }
    .ant-input-affix-wrapper,
    #username_inp,
    /deep/ .password_inp {
      border-color: #2f54eb
      background-color: #2f54eb !important
      .ant-input {
        font-size: 16px
        color: #fff
        background-color: #2f54eb !important
      }
    }
    .code-box {
      display: flex
      width: 100%
      height: 50px
      justify-content: space-between

      .code-val {
        width: 200px
        height: 50px;
        font-size: 16px
        color: #fff
        background-color: #2f54eb !important
      }
    }
    
    .submit-btn {
      width: 100%
      height: 40px
      border-radius: 5px
    }
    .forget-register {
      .ant-form-item-control-input-content {
        display: flex
        justify-content: flex-end
        span {
          margin-left: 10px
          color: #fff
          cursor: pointer
        }
      }
    }
  }
}
.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
  border-color: #ff114f !important
}
@keyframes bgi {
  0% {
    background-image: linear-gradient(to bottom right, _light-color, _blue-color, _orange-color, _mangetna-color)
  }
  25% {
    background-image: linear-gradient(to bottom right, _blue-color, _light-color, _mangetna-color, _orange-color)
  }
  50% {
    background-image: linear-gradient(to bottom right, _mangetna-color, _light-color,  _blue-color, _orange-color)
  }
  75% {
    background-image: linear-gradient(to bottom right, _orange-color, _blue-color, _mangetna-color, _light-color)
  }
  100% {
    background-image: linear-gradient(to bottom right, _mangetna-color, _orange-color, _blue-color, _light-color)
  }

}
