@import "~@/styles/index.styl"
.modify-password {
  width 360px
  height 100vh
  margin 0 auto
  .content {
    height 500px
    _center()
    .form {
      width 100%
      .send-email-btn {
        &.sended {
          color #f5f5f5
          background-color #ccc
          border-color #ccc
        }
      }
      .ant-form-item {
        // margin-bottom 10px
      }
      .item {
        .ant-form-item-control-input-content {
          display flex
          justify-content space-between
        }
      }
    }
  }
}
