_theme-color = #409EFF
_light-color = #69c0ff
_dark-color = #096dd9
_text_color = #1890ff

_red-color = #f5222d
_orange-color = #fa8c16
_gold-color = #faad14
_mangetna-color = #eb2f96
_blue-color = #2f54eb

_tab-height = 40px
_content-height = calc(100vh - 60px - _tab-height)
