@import "~@/styles/index.styl"
.signup {
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  display: flex
  justify-content: center
  align-items: center
  .form-content {
    width: 40%
  }
  .form-footer {
    .opera {
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      .target-login {
        .login-text {
          color: _text_color;
          font-style: normal
          cursor: pointer
        }
      }
    }
  }
}
